{% block artic %}

<div class="container">

	<div class="{{editlogo}} has-text-right" style="height:0px; width:80%"><div class='button is-rounded pb-0 pt-0' id="bot-edit-logo" style="position:absolute; z-index:3; height:80px">Editar</div></div>




		<!-- area de articulos-->
		{% if pag is string %}
		<div class="columns is-gapless">
				<div class="column"></div>
				<div class="column is-full">
						<div class="box" style="color:#999999"><p align="center">{{pag}}</p></div>
				</div>
				<div class="column"></div>
		</div>
		{% else %}


		<!--cuadricula de imagenes-->

		{% for i in pag%}
		<div class="columns">
				{% if i|length == 2 %}
				{% set ls = [('.')] %}
				{% set l = [] %}
				{% set l = i.extend(ls) %}
				{% endif %}

				{% if i|length == 1 %}
				{% set ls = [('.'), ('.')] %}
				{% set l = [] %}
				{% set l = i.extend(ls) %}
				{% endif %}

				{% for j in i %}
				<div class="column">
						<div class="box" id="articulos">
								<div class="media">
										<figure class="image is-256x256" href="" style="margin-left:auto; margin-right:auto">
												<img src="{{url_for('static', filename='img/{0}/{0}-{1}.jpeg'.format(j[0], j[1]))}}" title="{{j[1]}},{{j[5]}}" style=""></img>
										</figure>
								</div>
								<div class="columns is-gapless is-multiline is-mobile">
										<div class="column">
												{% set titles = ['Nombre: ', 'Descripcion: ', 'Precio: ']%}
												{% for k in j[1:4] %}
												{% if k is float %}
												{% set k = '{}{}'.format('$',k) %}
												{% endif %}

												<span class="has-text-weight-semibold has-text-left">{{k.capitalize()}}</span><br>
												{% endfor %}
										</div>

										<!--en prueba -->
										{% if j is string %}
										{% else %}
										{% set b = (j[3]*divisa)|round(2) %}
										{% set g = '{:,}'.format(b)|replace(',','¬')|replace('.', ',')|replace('¬','.') %}
										<div class="column"><span class="has-text-weight-semibold"><br><br>Bs: {{g}}</span></div>
										{% endif %}

								</div>
								<button class="button is-hidden-mobile is-success is-hovered is-fullwidth"value="Agregar">{{boton}}</button>



						</div>
				</div>
				{% endfor %}
		</div>
		{% endfor %}




		{% endif %}



		<!--fin de area de articulos-->





</div>
{% endblock %}
